* {
    margin: 0;
    padding: 0;
}

@page {
    size: landscape;
    @bottom-right-corner {
      content: counter(page);
    }

}

body {
    font: 100% sans-serif;
    padding: 0;
    margin: 0;
}

div.slide {
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
    page-break-after: always;
}

div.slide div.inner {
    width: 800px;
    height: 600px;
    margin: auto;
    display: table-cell;
}

h1 {
    font-size: 2em;
}

header h1 {
	padding-bottom: .5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    margin: 1em 0;
}

ul {
    margin: 0;
    padding: 0;
}

p, li, pre {
    margin: 1em 0;
}

li {
    margin-left: 2em;
}

a {
    color: #000000;
}

pre, code {
    max-width: 800px;
    background: #eee;
    font-family: Monaco, monospace;
    font-size: 90%;
}

pre {
    padding: .2em .5em;
    overflow: hidden;
}

code {
    padding: 0 .2em;
}

.slide header:only-child h1 {
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  height: 600px;
  width: 800px;
  font-size: 36px;
}
.slide footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #eee;
   color: #000000;
   text-align: left;
}

#toc, #help, .slide aside, .slide .notes,
.presenter_notes, #current_presenter_notes, #presenter_note {
  display: none;
}
